<% provide :title, "Manage Categories" %>

<div class="col-md-3 row">
  <%= link_to raw("<span class='glyphicon glyphicon-plus'></span> Add category"),
    new_admin_category_path, class: "btn btn-primary" %>
</div>

<div class="col-md-9 row search-cate">
  <%#= form_tag admin_categories_path, method: :get do %>
    <!-- <div class="col-md-6 col-md-offset-2 row"> -->
      <%#= text_field_tag :search, params[:search], class: "form-control",
        placeholder: "Search by name or description..." %>
    <!-- </div> -->
    <%#= submit_tag "Search", class: "btn btn-primary" %>
  <%# end %>

  <%= search_form_for [:admin, @search] do |f| %>
    <div class="col-md-6 col-md-offset-2 row">
      <%= f.search_field :name_or_description_cont, class: "form-control",
        placeholder: "search with ransack..." %>
    </div>
    <%= f.submit "Search", class: "btn btn-primary" %>
  <% end %>
</div>

<br><br><br><br>
<div class="search-result">
  <% if params[:q].present? && params[:q][:name_or_description_cont].present? %>
    Found <%= pluralize @results_quantity, "result" %> with keyword
      '<strong><%= params[:q][:name_or_description_cont] %></strong>'
  <% end %>
</div>
<br><br>
<table class="table table-hover table-striped table-bordered">
  <thead>
    <tr>
      <th>No.</th>
      <th>Name</th>
      <th>Description</th>
      <th>Number of news</th>
      <th>Created at</th>
      <th>Edit</th>
      <th>Delete</th>
    </tr>
  </thead>
  <tbody>
    <% if @categories.present? %>
      <% @categories.each_with_index do |category, index| %>
        <tr>
          <td>
            <% params[:page] ||= "1" %>
            <%= get_index params[:page], index, Settings.admin.category.per_page %>
          </td>
          <td>
            <%= link_to category.name, admin_category_path(category) %>
          </td>
          <td><%= category.description %></td>
          <td><%= category.news.size %></td>
          <td><%= l category.created_at, format: :long %></td>
          <td>
            <%= link_to raw("<span class='glyphicon glyphicon-edit'></span>"),
              edit_admin_category_path(category), class: "btn btn-warning" %>
          </td>
          <td>
            <%= link_to raw("<span class='glyphicon glyphicon-trash'></span>"), [:admin, category], method: :delete, data: {confirm: "Are you sure?"}, class: "btn btn-danger" %>
          </td>
        </tr>
      <% end %>
    <% else %>
      <tr><td colspan="7" class="table-no-data">No data</td></tr>
    <% end %>
  </tbody>
</table>

<%= paginate @categories, theme: "twitter-bootstrap-4" %>
